body {
    background: white;
    font-family: 'open-sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    height: 80px;
    border-bottom: 1px solid #eaeaea;
    display: block;
    box-sizing: border-box;
}

.title {
    font-size: large;
    color: #4D4F98;
}

.logo {
    padding: .5em 0 1em 20px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.chart {
    height: 200px;
}

.container {
    padding-top: 20px;
}

.list {
    padding-top: 20px;
}

.hist-overview {
    padding-top: 20px;
}

.hist-overview .cell-tbl-change-bars--up {
    background-color: rgb(0, 42, 65);
}

.hist-overview .cell-tbl-change-bars--down {
    background-color: rgb(184, 59, 59);
}

.chart .cell-chart-default .highcharts-yaxis-grid .highcharts-grid-line,
.shb-page-chart .cell-chart-default .highcharts-axis-line {
    stroke-width: 0;
}

.chart .cell-chart-default .highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 0;
}

.cell-chart-wrapper .highcharts-plot-band,
.cell-chart-wrapper .highcharts-pane {
    fill: transparent;
}

.cell-chart-default .highcharts-axis-labels text {
    fill: rgba(0, 0, 0, 0.6) !important;
}

.cell-chart-default text {
    font-size: 10px !important;
}

.cell-chart-wrapper .highcharts-color-0,
.cell-chart-wrapper .highcharts-color-0 {
    fill: #4D4F98;
    stroke: #4D4F98;
}

.cell-status-positive {
    color: rgb(14, 187, 14) !important;
}

.cell-status-negative {
    color: rgb(236, 0, 0) !important;
}

.cell-table__item {
    font-weight: normal;
    font-size: 10px;
}

.cell-table td {
    padding: 10px 3px
}

.ticker-text {
    display: none;
}